.button-primary, .button-secondary {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.button-primary {
    color: #FFFFFF;
    background-color: var(--primary-color);

    /* TODO: Darken primary button on hover */
}

.button-secondary {
    color: var(--primary-color);
    box-shadow: inset 0 0 0 2px var(--primary-color);

    &:hover {
        background-color: #EFEFEF;
    }
}