nav {
    height: 64px;
    width: 100%;

    display: flex;

    padding-left: 3rem;

    border-bottom: 1px solid #EFEFEF;

    & .logo {
        color: var(--primary-color);
        font-size: 1.75rem;
        font-weight: bold;
        margin: auto 0;

        &:hover {
            cursor: pointer;
        }
    }

    & ul {
        display: flex;
        list-style-type: none;

        & li {
            padding: 0 1rem;
            
            display: flex;
            align-items: center;

            &:hover {
                background-color: #EFEFEF;
            }

            & a {
                color: #121212;
                text-decoration: none;
                margin: auto 0;
            }
        }
    }

    & .buttons {
        margin-left: auto;
        margin-right: 4rem;

        display: flex;
        align-items: center;

        & :first-child {
            margin-right: 1rem;
        }
    }
}

